html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: cornflowerblue;
  }
  
  h1 {
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  
  p{
    font-size: 16px;  
    line-height: 2;
    letter-spacing: 1px;
    text-align:center;
  }
  
  li {
    font-size: 16px;  
    line-height: 2;
    letter-spacing: 1px;
    text-align:center;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: #FFFAFA;
    padding: 0 40px 40px 40px;
    border: 3px solid black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    padding: 40px;
  
  <!-- not sure about this part-->
  <style>
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>